header {
    position: relative;
    height: 800px;
    width: 100%;
    background: url(../images/fremont-bridge-25.jpg) no-repeat top center;
    background-size: cover !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    text-align: center;
    overflow: hidden;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff; 
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: rgb(5, 14, 45);
    position: relative;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* General 
-------------------------------------------------- */

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

h1 {
    font-family: 'Inter', sans-serif;
    color: white;
}

h2, h3, h4, h5, h6, li {
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    color: white;
}

a {
    text-decoration: none !important;
}

.grey-text {
    color: rgb(170, 170, 170);
}

.white-text {
    color: white !important;
}

.green-text {
    color: rgb(89, 183, 157) !important;
}

.light-teal-text {
    color: rgb(105, 146, 152) !important;
}

/* Responsive Sizing
-------------------------------------------------- */

h1 {
    font-size: 38px;
}

p {
    font-size: 14px;
}

.mobile-container {
    padding-top: 15%;
}

.project-single-container {
    padding-bottom: 10% !important;
}

@media only screen and (min-width: 320px) {
    h1 {
        font-size: 42px;
    }

    p {
        font-size: 14px;
    }

    .mobile-container {
        padding-top: 15%;
    }

    .project-single-container {
        padding-bottom: 9% !important;
    }
}

@media only screen and (min-width: 480px) {
    h1 {
        font-size: 48px;
    }

    p {
        font-size: 14px;
    }

    .mobile-container {
        padding-top: 13%;
    }

    .project-single-container {
        padding-bottom: 8% !important;
    }
}

@media only screen and (min-width: 600px) {
    h1 {
        font-size: 56px;
    }

    p {
        font-size: 15px;
    }

    .mobile-container {
        padding-top: 6%;
    }

    .project-single-container {
        padding-bottom: 3% !important;
    }
}

@media only screen and (min-width: 900px) {
    h1 {
        font-size: 64px;
    }

    p {
        font-size: 15px;
    }

    .mobile-container {
        padding-top: 5%;
    }

}

@media only screen and (min-width: 1024px) {

    .mobile-container {
        padding-top: 4%;
    }
}

@media (min-width: 1600px) {
 
    h1 {
        font-size: 74px;
    }
    
}

@media (min-width: 2000px) {
    
    h1 {
        font-size: 84px;
    }
    
    h4 {
        font-size: 29px;   
    }
    
    h5 {
        font-size: 19px;
    }
    
    h6 {
        font-size: 17px;
    }
    
    p {
        font-size: 16px
    }
    
    .container {
        max-width: 1350px !important;
    }
}

/* Header
-------------------------------------------------- */

.navbar {
    opacity: 90%;
    animation: nav-bar-fade-in 2.4s;
}

.main-nav {
    color: white;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 9;
    transition: all 0.7s;
    padding: 1%;
    padding-top: 1.2%;
    background-color: rgb(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    animation: home-page-general-fade-in 2.3s;
}

.main-nav.active {
    background-color: rgb(5, 14, 45, 1);
    opacity: 90%;
    padding-top: 0.7%;
}

.nav-item {
    border: 5px solid transparent;
}

ul li {
    text-align: center;
}

.main-nav-links a {
    text-decoration: none;
}

.main-nav-links ul {
    list-style: none;
}

.nav-link-container {
    display: flex;
    align-content: center;
}

.navbar-nav {
    flex-direction: row !important;
}

.nav-link {
    color: white;
    transition: all 0.5s;
}

.nav-link:hover {
    color: rgb(200, 200, 200);
}

.nav-link:active {
    color: rgb(170, 170, 170);
}

.active {
    color: rgb(89, 183, 157);
}

/* Animations
-------------------------------------------------- */

.fade-up {
    opacity: 0;
    transform: translateY(20%);
    transition: all ease-in 0.7s;
}

.faded {
    opacity: 100;
    transform: translateY(0%);
}

.fade-right {
    opacity: 0;
    transform: translateX(-50%);
    transition: all ease-in 0.7s;
}

.fade-left {
    opacity: 0;
    transform: translateX(50%);
    transition: all ease-in 1.2s;
}

.faded-horizontal {
    opacity: 100;
    transform: translateX(0%);
}

@keyframes title-fade-in {
    0% {
        visibility: hidden;
        opacity: 0;
        transform: translateY(40%);
    }
    40% {
        transform: translateY(40%);
        opacity: 0;;
    }
    100% {
        visibility: visible;
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes links-fade-in {
    0% {
        visibility: hidden;
        opacity: 0;
        transform: translateY(40%);
    }

    70% {
        opacity: 0;
        transform: translateY(40%);
    }

    100% {
        visibility: visible;
        opacity: 90%;
        transform: translateY(0%);
    }
}

@keyframes nav-bar-fade-in {
    0% {
        visibility: hidden;
        opacity: 0;
    }

    70% {

        opacity: 0;
    }

    100% {
        visibility: visible;
        opacity: 90%;
    }
}

@keyframes home-page-general-fade-in {
    0% {
        visibility: hidden;
        opacity: 0;
    }

    70% {
        opacity: 0;
    }

    100% {
        visibility: visible;
        opacity: 1;
    }
}

/* Landing Page
-------------------------------------------------- */

@media only screen and (max-width: 768px) {
    .banner-links {
        font-size: 30px;
    }
    .mail-icon,
    .github-icon,
    .linkedin-icon {
        height: 30px;
        width: 30px;
    }
}

@media only screen and (min-width: 768px) {
    .banner-links {
        font-size: 37px;
    }
    .mail-icon,
    .github-icon,
    .linkedin-icon {
        height: 37px;
        width: 37px;
    }
}

.banner-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-height: 100%;
}

.banner-links {
    display: flex !important;
    justify-content: space-around !important;
    padding-left: 0;
    border-radius: 0.4rem;
    margin-left: 20% !important;
    margin-right: 20% !important;
}

.github-icon {
    animation: links-fade-in 2.3s;
}

.linkedin-icon {
    animation: links-fade-in 2.5s;
}

.mail-icon {
    animation: links-fade-in 2.7s;
}

.banner-links li {
    list-style-type: none; 
    display: inline-block;
}

.banner-header {
    font-weight: 700 !important;
    letter-spacing: -1.9px;
    animation: title-fade-in 1.2s;
}

.github-icon {
    color: rgb(36, 41, 47);
    background: rgb(36, 41, 47);
}

.linkedin-icon {
    color: rgb(0, 119, 181);
    background: rgb(0, 119, 181);
}

.mail-icon {
    color: rgb(177, 89, 102);
    background: rgb(177, 89, 102);
}

.icons-general {
    border-radius: 0.4rem;
    transition: transform 400ms cubic-bezier(0.25, 0.8, 0.25, 1),box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-general:before {
    background-image: linear-gradient(#fff,#fff);
    background-repeat: no-repeat;
    background-size: 75% 75%;
    background-position: center;
}

.down-arrow-container {
    position: absolute;
    left: 50%;
    top: 94%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 4%;
    animation: home-page-general-fade-in 2.3s;
    margin: 2px;
}

.down-arrow {
    font-size: 35px;
    color: white;
    transition: all 0.4s;
}

.icons-general:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 5px -3px #0003, 0 8px 10px 1px #00000024, 0 3px 14px 2px #0000001f;
}

.down-arrow:hover {
    color: rgb(200, 200, 200);
}

.down-arrow:active {
    color: rgb(170, 170, 170);
}

/* Body
-------------------------------------------------- */
.body-container {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10;
}

/* About
-------------------------------------------------- */

.about-left-container-fade-in {
    animation: left-fade-in 1s;
}

@keyframes left-fade-in {
    0% {
        padding: 3%;
        transform: translateX(-100%);
    }

    100% {
        padding: 3%;
        transform: translateX(0%);
    }
}

.about-right-container-fade-in {
    animation: right-fade-in 1s;
}

@keyframes right-fade-in {
    0% {
        padding: 3%;
        padding-bottom: 5%;
        transform: translateX(90%);
    }

    100% {
        padding: 3%;
        padding-bottom: 5%;
        transform: translateX(0%);
    }
}

.about-container {
    height: 100%;
    width: 100%;
    background-color: rgb(14, 26, 63);
    padding-bottom: 10%;
    overflow: hidden;
}

.about-header-container {
    text-align: center;
}

.about-left-container {
    padding-right: 0 !important;
}

.about-right-container {
    background-color: rgb(20, 70, 93) !important;
    border-radius: 0.9rem;
    text-align: left !important;
    padding: 3%;
    padding-bottom: 5%;
}

.about-right-container h6 {
    color: rgb(170, 170, 170);
}

.about-stats {
    color: rgb(105, 155, 178) !important;
}

.about-stats-container {
    box-sizing: border-box;
    border-left: solid rgb(62, 112, 135) 1px;
    padding-left: 3%;
}

.about-image {
    display: flex;
    justify-content: space-evenly;
}

.about-image img {
    height: 6rem;
    width: 6rem;
    object-fit: contain;
    border-radius: 50%;
}

.about-image-heading {
    margin: 0 !important;
    color: rgb(89, 183, 157);
}

.about-image-body {
    color: white;
}

.about-words {
    color: rgb(170, 170, 170) !important;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    text-align: left !important;
}

/* Projects
-------------------------------------------------- */

.projects-container {
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: rgb(20, 70, 93);
    padding-bottom: 10%;
}

.project-header {
    font-weight: bold;
    animation: title-fade-in 0.9s;
    color: white;
    margin-bottom: 2%;
}

.project-link-container {
    padding: 2%;
    text-align: left;
}

.project-img-container {
    display: inline-flex;
    box-sizing: unset;
    border-top-right-radius: 30px;
    background-color: black;
    cursor: pointer;
}

.project-link-container img {
    height: 100%;
    width: 100%;
    overflow: hidden;
    object-fit: contain;
    border-top-right-radius: 30px;
    transition: all 0.4s;
}

.project-link-container img:hover {
    opacity: 50%;
}

.project-links h6 {
    cursor: pointer;
}

.modal-header {
    padding: 0px !important; 
}

.modal img {
    border-top-right-radius: 0px !important;
}

.project-modal-header {
    color: black !important;
    font-weight: bold;
}

.modal-header img:hover {
    opacity: 100% !important;
}

.modal-body {
    background: white !important;
    color: dimgray;
}

.modal-body h6 {
    color: rgb(150, 150, 150);
}

.modal-footer {
    background-color: rgb(14, 26, 63);
    border-radius: 0px !important;
}

.project-modal-dismiss {
    cursor: pointer;
}

.project-modal-dismiss h6 {
    color: white;
    transition: all 0.5s;
}

.project-modal-dismiss h6:hover {
    color: rgb(200, 200, 200);
}

.project-modal-dismiss h6:active {
    color: rgb(170, 170, 170);
}

.modal-header img {
    border-bottom-right-radius: 0px !important;
}

.modal-content {
    background-clip: content-box !important;
    background-color: transparent !important;
}

.project-repo-text {
    transition: all 0.4s;
    color: rgb(105, 155, 178);
}

.project-about-text {
    transition: all 0.4s;
    color: rgb(89, 183, 157);
}

.project-demo-text {
    transition: all 0.4s;
    color: rgb(112, 209, 145);
}

.project-clickable:hover {
    color: rgb(140, 140, 140);
}

.project-clickable:active {
    color: rgb(100, 100, 100);
}

.project-text {
    padding-left: 3%;
    overflow: visible;
}

.project-one-container-fade-in {
    animation: up-fade-in 1.3s;
}

.project-two-container-fade-in {
    animation: up-fade-in 1.3s;
}

.project-three-container-fade-in {
    animation: up-fade-in 1.3s;
}

.project-four-container-fade-in {
    animation: up-fade-in 1.3s;
}

.project-five-container-fade-in {
    animation: up-fade-in 1.3s;
}

.project-six-container-fade-in {
    animation: up-fade-in 1.3s;
}

@keyframes up-fade-in {
    0% {
        visibility: hidden;
        opacity: 0;
        transform: translateY(25%);
    }

    100% {
        visibility: visible;
        opacity: 100;
        transform: translateY(0%);
    }
}

/* Resume
-------------------------------------------------- */

.resume-container {
    position: relative;
    min-height: 650px;
    width: 100%;
    background: url(../images/resume-background.jpg) no-repeat top center;
    background-size: cover !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    overflow: hidden;
    min-height: 60vh;
}

.resume-header-container {
    text-align: center;
}

.resume-left-container {
    background-color: rgb(33, 82, 105) !important;
    border-radius: 0.9rem;
    text-align: left !important;
    padding: 3%;
    padding-bottom: 5%;
}

.resume-left-container h6 {
    color: rgb(170, 170, 170);
}

.resume-credentials {
    color: rgb(89, 183, 157) !important;
}

.resume-degree-type {
    color: rgb(105, 155, 178) !important;
}

.resume-button {
    cursor: pointer;
    display: inline-block;
    padding: 0.35em 1.2em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    background-color: rgb(89, 183, 157);
    color: white !important;
    text-align: center;
    transition: all 0.4s;
    font-family: 'DM Sans', sans-serif;
}

.resume-button:hover {
    background-color: rgb(80, 80, 80);
}

.resume-button:active {
    background-color: rgb(50, 50, 50);
}

.resume-left-container-fade-in {
    animation: up-fade-in 1s;
}

.resume-right-container {
    padding-top: 3%;
}

.resume-right-container-fade-in {
    animation: up-fade-in 1s;
}

.resume-right-container p {
    color: rgb(170, 170, 170) !important;
}

.resume-right-container h6 {
    color: white !important;
}

main, body {
    padding-bottom: 0 !important;
}

.no-padding-right {
    padding-right: 0 !important;
}

/* Footer
-------------------------------------------------- */

.footer-container {
    background-color: rgb(5, 14, 45);
}

.number-link {
    color: rgb(170, 170, 170);
    transition: all ease-in 0.4s;
}

.number-link:hover {
    color: rgb(150, 150, 150);
}

.number-link:active {
    color: rgb(130, 130, 130);
}

.icon-link {
    cursor: pointer;
    color: rgb(89, 183, 157);
}

.icon-link:hover {
    color: rgb(80, 80, 80);
}

.icon-link:active {
    color: rgb(50, 50, 50);
}

.no-right-margin {
    margin-right: 0 !important;
}

.same-line {
    white-space: nowrap !important;
}

/* */

.carousel-control-next-icon,
.carousel-control-prev-icon {
    transform: translateY(100%);
}

.carousel-controls {
    position: relative;
    bottom: 0;
    left: 0;
    top: 0px;
    display: block;
    margin: 0 auto;
    z-index: 1;
    width: 25%;
    text-align: center;
    background-color: rgb(20, 70, 93);
}

.controls {
    position: relative;
    display: block;
}

.carousel-control {
   position: absolute;
   top: 25.5px;
   bottom: 0;
   left: 0;
   background: #000000;
   font-size: 5px;
   background: none !important;
   color: #000 !important;
   text-align: center;
}

.carousel-control i {
     font-size: 20px;
}

.carousel-control.left {
   left: 0;
}

.carousel-control.right {
   right: 0;
   
}
